<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border: none; width: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #333333; line-height: 1.7; background-color: #f9f9f9; text-align: center;">
    <tr>
        <td style="padding: 20px;">
            <table align="center" border="0" width="640" cellpadding="0" cellspacing="0" style="width: 640px; text-align: left; background-color: #fff;">
                <tr>
                    <td style="text-align: right; padding: 10px 10px 0;">
                        <a href="mailto:info@clavax.com"
                            style="display: inline-block; text-decoration: none; color: #333333; font-size: 13px;"
                        >info@clavax.com</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px 30px 30px 30px;">
                        <table width="100%" style="width: 100%;">
                            <tr>
                                <td>
                                    Dear {%FIRSTNAME%}
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 20px;">Thank you for showing your interest in Clavax! <br />
                                    Our expert will contact you shortly. If you need immediate assistance,<br />
                                    please call or message us at:</td>
                            </tr>
                            <tr>
                                <td style="padding: 30px 0; text-align: left;">
                                    <a href="mailto:info@clavax.com"
                                        style="display: inline-block; background-color: #ee2227; padding: 7px 20px; text-decoration: none; color: white; border-radius: 25px; font-weight: bold;"
                                    >info@clavax.com</a>
                                    <a href="tel:18444252829"
                                        style="display: inline-block; background-color: #012a5e; padding: 7px 20px; text-decoration: none; color: white; border-radius: 25px; font-weight: bold; margin-left: 5px;"
                                    >1-844-425-2829</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 18px; color: #012a5e; font-weight: bold;">
                                    Meet <img src="http://clavaxtech.com/client_newsletter/clavax-logo.png" width="70" />
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 18px; color: #012a5e; font-weight: bold;">
                                    Ideas and Innovations at One Place
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 10px;">
                                    Headquartered in San Jose, California, Clavax initiated the journey on the higher notes with clients like Auction.com, redefining real estate industry and taking the work by the storm. With continuous dedication, we have successfully established ourselves in New York and Australia in a shorter period. Supported by experienced teams and exquisite collaboration with technology partners including Microsoft, Amazon, Kentico, IBM, and Episerver, we delivered incredible technology-driven IT solutions to meet the toughest business challenges.
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 10px;">
                                    To deliver what’s expected, we dawned with the latest technology trends like <strong>Augmented Reality, Artificial Intelligence, Big Data, Chatbots, IoT, and Blockchain.</strong> Success reciprocates efforts! Award-winning custom project deliveries have brought us in the top-rated companies.
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 10px;">
                                    We appreciate you’ve chosen our services. It is well said, <strong>"Every step you take towards a goal moves you one step closer to making your dreams turn into reality".</strong>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 10px;">
                                    We understand what your business means to you, which is why we thoroughly discuss to understand your requirements considering the target audience's needs and the latest market trends.
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 40px 0 20px; text-align: center; font-size: 18px;">
                                    We have helped various <strong>Fortune 500 Companies</strong>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    <img src="http://clavaxtech.com/client_newsletter/fortune_companies.jpg" alt="Fortune 500 Companies">
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 0 30px; text-align: center;">
                                    <a href="https://www.clavax.com/portfolio" target="_blank"
                                        style="display: inline-block; background-color: #ee2227; padding: 7px 20px; text-decoration: none; color: white; border-radius: 25px; font-weight: bold;"
                                    >View Portfolio</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 0; ">
                                    Thank you<br/>
                                    Team Clavax
                                    <img src="http://clavaxtech.com/client_newsletter/clavax-logo.png" width="90"
                                    style="float: right;" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>